{
  "extends": ["airbnb", "react-app"],
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "node": false,
    "es6": true,
    "jest": true
  },
  "rules": {
    "no-duplicate-imports": "warn",
    "linebreak-style": 0,
    "no-underscore-dangle": 0,
    "jsx-a11y/click-events-have-key-events": 0,
    "react/jsx-filename-extension": [
      1,
      {
        "extensions": [
          ".js",
          ".jsx",
          ".tsx"
        ]
      }
    ]
  }
}